# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/  
# Ignore environment variable files
.env
# Ignore log files
*.log

# Ignore build directories
build/

# Ignore egg-info directories
*.egg-info/
